<app-back-to-menu [navigationPath]="LOCATIONS.plans"></app-back-to-menu>
<div   class="min-h-screen bg-gray-100 text-gray-900 dark:bg-gray-800 dark:text-gray-100 flex flex-col"
>
  <h3 class="text-center text-2xl font-extrabold text-gray-800 dark:text-gray-100 py-6">    {{ "WORKOUT_LOGS.TITLE" | translate }}
  </h3>

  <!-- Filter Dropdown -->
  <div class="text-center mt-6 mx-10">
    <label for="workoutFilter" class="block text-gray-700 dark:text-gray-300 font-medium mb-2">      {{ "WORKOUT_LOGS.FILTER_LABEL" | translate }}
    </label>
    <select
      id="workoutFilter"
      class="block w-full max-w-md mx-auto rounded-lg border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-100 shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
      [(ngModel)]="selectedWorkoutId"
      (change)="filterWorkoutLogs()"
    >
      <option value="">{{ "WORKOUT_LOGS.ALL_WORKOUTS" | translate }}</option>

      <!-- Group workouts by plan using optgroup -->
      <optgroup *ngFor="let plan of plans" [label]="plan.name">
        <option *ngFor="let workout of plan.workouts" [value]="workout.id">
          {{ workout.name }}
        </option>
      </optgroup>
    </select>
  </div>

  <!-- No Logs Found -->
  <div *ngIf="!isLoading && filteredWorkoutLogs.length === 0" class="text-center mt-6">
    <p class="text-gray-600 dark:text-gray-400">{{ "WORKOUT_LOGS.NO_LOGS_FOUND" | translate }}</p>
  </div>

  <!-- Logs List -->
  <ul *ngIf="!isLoading && filteredWorkoutLogs.length > 0" class="mt-6 space-y-4 mx-10 mb-10">
    <li
      *ngFor="let log of filteredWorkoutLogs"
      class="flex items-center justify-between p-4 bg-white dark:bg-gray-900 rounded-lg shadow hover:shadow-lg transition"
    >
      <div>
        <h5 class="text-lg font-semibold text-gray-800 dark:text-gray-100">{{ log.workoutName }}</h5>
        <p class="text-sm text-gray-600 dark:text-gray-400">          {{ "WORKOUT_LOGS.DATE" | translate }}: {{ log.date | date: 'shortDate' }}
        </p>
      </div>
      <button
        type="button"
        class="bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-500 transition"
        (click)="viewWorkoutLog(log)"
      >
      {{ "WORKOUT_LOGS.VIEW_DETAILS" | translate }}
    </button>
    </li>
  </ul>

  <!-- Modal -->
  <app-work-log-detail
    [workoutLog]="selectedWorkoutLog"
    [showModal]="showModal"
    (closeModal)="closeWorkoutLogModal()"
  ></app-work-log-detail>
</div>
