<div class="d-flex flex-row align-items-center mx-4">
  <div class="flex-grow-1 d-flex justify-content-center">
     <h3
      class="mt-3 custom-heading"
      contenteditable="true"
      id="test"
      (keydown)="onKeyDown($event)"
      (blur)="updatePlanName()"
      style="text-align: center"
    >
      {{ activePlan.name }}
    </h3>
  </div>
  <button
    class="p-2 ms-3 btn"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img [src]="threeDotsIcon" alt="ThreeDotsIcon" />
  </button>
  <ul class="dropdown-menu">
    <ng-container *ngIf="workouts.length > 0">
      <li>
        <a class="dropdown-item edit-item" (click)="toggleEditMode()">
          Edit Workouts
        </a>
      </li>
    </ng-container>
    <li>
      <a
        class="dropdown-item delete-item"
        data-bs-toggle="modal"
        data-bs-target="#VerificationModal"
        >Delete "{{ activePlan.name }}"</a
      >
    </li>
  </ul>
</div>
