<app-back-to-menu (click)="backToPlans()" ></app-back-to-menu> 

<h3 class="text-center mt-5">Logging {{ workoutName }}</h3>

<form [formGroup]="workoutLogForm" (ngSubmit)="submitWorkoutLog()">
  <div formArrayName="exercises" class="text-center mt-5">
    <div
      *ngFor="let exercise of exercises.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="exercise-dropdown">
        <button class="dropdown-btn" type="button" (click)="toggleDropdown(i)">
          {{ exercise.get("name")?.value }}
        </button>

        <div
          [ngClass]="{
            collapse: !exercise.get('open')?.value,
            show: exercise.get('open')?.value,
          }"
        >
          <div class="exercise-form">
            <div formArrayName="sets">
              <div
                *ngFor="let set of getSets(exercise).controls; let j = index"
                [formGroupName]="j"
                class="d-flex justify-content-between align-items-center mt-3"
              >
                <span>Set {{ j + 1 }}</span>
                <div class="input-container">
                  <label for="reps-{{ i }}-{{ j }}">Reps:</label>
                  <input
                    type="number"
                    formControlName="reps"
                    class="form-control"
                    [id]="'reps-' + i + '-' + j"
                    (focus)="onInputFocus()"
                    (blur)="onInputBlur()"
                    (focus)="clearInput(i, j, 'reps')"
                    (input)="limitInputLength($event, 3); triggerWorkoutLogUpdate(i, j)"
                    (blur)="onInputBlur(); resetToZero(i, j, 'reps'); triggerWorkoutLogUpdate(i, j)"
                  />
                </div>
                <div class="input-container">
                  <label for="weight-{{ i }}-{{ j }}">Weight:</label>
                  <div class="input-group">
                    <input
                      type="number"
                      formControlName="weight"
                      class="form-control"
                      [id]="'weight-' + i + '-' + j"
                      (focus)="onInputFocus()"
                      (blur)="onInputBlur()"
                      (focus)="clearInput(i, j, 'weight')"
                      (input)="limitInputLength($event, 3);  triggerWorkoutLogUpdate(i, j)"
                      (blur)="onInputBlur(); resetToZero(i, j, 'weight'); triggerWorkoutLogUpdate(i, j)"
                    />
                    <span class="input-group-text">kg</span>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-sm ml-2"
                  (click)="deleteSet(i, j)"
                >
                  <img [src]="DeleteIcon" alt="DeleteIcon" />
                </button>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <!-- Add Set Button (Centered) -->
              <div class="d-flex justify-content-center flex-grow-1">
                <button
                  type="button"
                  class="btn btn-sm btn-success"
                  (click)="addSet(i)"
                  [disabled]="!isLastSetValid(i)"
                >
                  + Add Set
                </button>
              </div>

              <!-- Notes Button (Right-aligned) -->
              <button
                type="button"
                class="btn btn-primary ml-2"
                data-bs-toggle="modal"
                data-bs-target="#NotesModal"
                (click)="setSelectedExercise(i)"
              >
                <img [src]="NotesIcon" alt="Notes Icon" />
              </button>
            </div>
            <div
              class="modal fade"
              id="NotesModal"
              tabindex="-1"
            >
              <div class="modal-dialog">
                <div class="modal-content bg-dark">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form *ngIf="selectedExerciseIndex !== null" [formGroup]="getExerciseFormGroup(selectedExerciseIndex)">
                      <div class="mb-3">
                        <label for="notes-{{ selectedExerciseIndex }}" class="col-form-label">
                          Notes for {{ selectedExercise }}:
                        </label>
                        <textarea formControlName="notes" class="form-control bg-dark text-white" id="notes-{{ selectedExerciseIndex }}"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="button" class="btn btn-primary" 
                    data-bs-dismiss="modal"
                    (click)="saveExerciseNotes()">
                      Save notes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button
      type="submit"
      class="btn btn-primary mt-5 mb-5"
      [disabled]="!workoutLogForm.valid || !hasSets()"
    >
      Submit Log
    </button>
  </div>
</form>

<app-confirmation-modal
  *ngIf="isConfirmationModalOpen"
  (onSave)="handleModalConfirmResponse('save')"
  (onDiscard)="handleModalConfirmResponse('discard')"
  (onCancel)="isConfirmationModalOpen = false"
></app-confirmation-modal>


<app-continue-or-reset-modal
  *ngIf="isContinueOrResetModalOpen"
  (onContinue)="handleModalResetResponse('continue')"
  (onReset)="handleModalResetResponse('reset')"
  (onCancel)="isContinueOrResetModalOpen = false"
></app-continue-or-reset-modal>
