<app-back-to-menu (click)="backToPlans()"></app-back-to-menu>
<div
  class="min-h-screen bg-gray-100 text-gray-900 dark:bg-gray-800 dark:text-gray-100 flex flex-col"
>
  <h3 class="text-center text-2xl font-extrabold text-gray-800 dark:text-gray-100 py-6">Logging {{ workoutName }}</h3>

  <form [formGroup]="workoutLogForm" (ngSubmit)="submitWorkoutLog()" class="space-y-8">
    <div formArrayName="exercises" class="space-y-6 flex flex-col items-center">
      <div
        *ngFor="let exercise of exercises.controls; let i = index"
        [formGroupName]="i"
        class="bg-white dark:bg-gray-900 rounded-lg shadow-md p-2 w-[95%]"
      >
        <!-- Exercise Dropdown -->
        <div class="exercise-dropdown relative mb-4">
          <button
            class="w-full text-center text-black dark:text-white py-3 px-4 rounded-lg font-semibold hover:bg-gray-300 hover:dark:bg-gray-500 transition"
            type="button"
            (click)="toggleDropdown(i)"
          >
            {{ exercise.get('name')?.value }}
          </button>
        </div>

        <!-- Exercise Details -->
        <div
          [ngClass]="{
            hidden: !exercise.get('open')?.value,
            block: exercise.get('open')?.value
          }"
          class="space-y-6"
        >
          <div formArrayName="sets" class="space-y-4">
            <!-- Set Loop -->
            <div
              *ngFor="let set of getSets(exercise).controls; let j = index"
              [formGroupName]="j"
              class="flex items-center gap-4 bg-gray-50 dark:bg-gray-700 p-4 rounded-lg shadow"
            >
              <span class="font-medium text-gray-800 dark:text-gray-100">
                Set {{ j + 1 }}
              </span>
              <!-- Reps Input -->
              <div class="flex-1">
                <label
                  for="reps-{{ i }}-{{ j }}"
                  class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                >
                  Reps:
                </label>
                <input
                  type="number"
                  formControlName="reps"
                  class="w-full px-3 py-2 bg-gray-50 dark:bg-gray-600 text-gray-900 dark:text-gray-100 border rounded-lg remove-arrow"
                  [id]="'reps-' + i + '-' + j"
                  (input)="triggerWorkoutLogUpdate(i, j)"
                />
              </div>
              <!-- Weight Input -->
              <div class="flex-1">
                <label
                  for="weight-{{ i }}-{{ j }}"
                  class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                >
                  Weight:
                </label>
                <div class="relative">
                  <input
                    type="number"
                    formControlName="weight"
                    class="w-full px-3 py-2 bg-gray-50 dark:bg-gray-600 text-gray-900 dark:text-gray-100 border rounded-lg remove-arrow"
                    [id]="'weight-' + i + '-' + j"
                    (input)="triggerWorkoutLogUpdate(i, j)"
                  />
                  <span
                    class="absolute inset-y-0 right-3 flex items-center text-gray-500 dark:text-gray-400 text-sm"
                  >
                    kg
                  </span>
                </div>
              </div>
              <!-- Delete Button -->
              <button
                type="button"
                class="bg-red-600 text-white px-3 py-2 rounded-lg hover:bg-red-700 transition"
                (click)="deleteSet(i, j)"
              >
              <img [src]="DeleteIcon" alt="Delete Icon" class="w-5 h-5" />
              </button>
            </div>
          </div>

          <!-- Add Set & Notes Buttons -->
          <div class="flex justify-between items-center">
            <button
              type="button"
              class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition cursor-pointer"
              (click)="addSet(i)"
            >
              + Add Set
            </button>
            <button
              type="button"
              class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
              (click)="setSelectedExercise(i); toggleNotesModal()"
            >
              Notes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="text-center">
      <button
        type="button"
        class="py-3 px-6 rounded-lg font-semibold transition focus:outline-none focus:ring-2 focus:ring-indigo-500"
        [ngClass]="{
          'bg-indigo-600 text-white hover:bg-indigo-500': workoutLogForm.valid && hasSets(),
          'bg-gray-300 text-gray-500 cursor-not-allowed': !workoutLogForm.valid || !hasSets()
        }"
        (click)="handleSubmitClick()"
      >
        Submit Log
      </button>
    </div>
  </form>

  <!-- Notes Modal -->
  <div
    *ngIf="isNotesModalOpen"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
  >
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 max-w-lg w-full">
      <div class="flex justify-between items-center mb-4">
        <h5 class="text-lg font-bold">Notes</h5>
        <button
          class="text-gray-400 hover:text-gray-300 transition"
          (click)="toggleNotesModal()"
        >
          ✖
        </button>
      </div>
      <form
        *ngIf="selectedExerciseIndex !== null"
        [formGroup]="getExerciseFormGroup(selectedExerciseIndex)"
      >
        <textarea
          formControlName="notes"
          class="w-full px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-100 border rounded-lg resize-none"
        ></textarea>
      </form>
      <div class="flex justify-end gap-4 mt-4">
       
        <button
          type="button"
          class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-500 transition"
          (click)="saveExerciseNotes(); toggleNotesModal()"
        >
          Save Notes
        </button>
      </div>
    </div>
  </div>
  
  <app-confirmation-modal
  *ngIf="isConfirmationModalOpen"
  (onSave)="handleModalConfirmResponse('save')"
  (onDiscard)="handleModalConfirmResponse('discard')"
  (onCancel)="isConfirmationModalOpen = false"
  ></app-confirmation-modal>
  
  <app-continue-or-reset-modal
  *ngIf="isContinueOrResetModalOpen"
  (onContinue)="handleModalResetResponse('continue')"
  (onReset)="handleModalResetResponse('reset')"
  (onCancel)="isContinueOrResetModalOpen = false"
  ></app-continue-or-reset-modal>
  
  
</div>