<div class="min-h-screen bg-gray-800 flex items-center justify-center">
    <div class="container mx-auto py-5">
      <div class="flex justify-center items-center h-full">
        <div class="w-full mx-5 max-w-md">
          <div class="bg-gray-900 text-gray-100 rounded-xl border border-gray-700 shadow-2xl">
            <div class="p-6 text-center">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-6">
                  <div class="mb-4">
                    <label for="typeidentifierX" class="block text-sm font-medium text-gray-400">
                      Email or usernames
                    </label>
                    <input
                      type="text"
                      id="typeidentifierX"
                      class="mt-1 block w-full px-3 py-2 bg-gray-800 text-gray-200 border border-gray-600 rounded-md text-sm shadow-sm focus:ring-gray-500 focus:border-gray-500"
                      formControlName="identifier"
                      required
                    />
                    <div *ngIf="loginForm.get('identifier')?.touched && loginForm.get('identifier')?.invalid">
                      <small
                        class="text-red-400"
                        *ngIf="loginForm.get('identifier')?.errors?.['required']"
                      >
                        Email or username is required.
                      </small>
                    </div>
                  </div>
  
                  <div class="mb-4">
                    <label for="typePasswordX" class="block text-sm font-medium text-gray-400">
                      Password
                    </label>
                    <input
                      type="password"
                      id="typePasswordX"
                      class="mt-1 block w-full px-3 py-2 bg-gray-800 text-gray-200 border border-gray-600 rounded-md text-sm shadow-sm focus:ring-gray-500 focus:border-gray-500"
                      formControlName="password"
                      required
                    />
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                      <small
                        class="text-red-400"
                        *ngIf="loginForm.get('password')?.errors?.['required']"
                      >
                        Password is required.
                      </small>
                    </div>
                  </div>
  
                  <button
                    type="submit"
                    class="w-full bg-gray-700 hover:bg-gray-600 text-gray-200 font-medium py-2 px-4 rounded-lg transition duration-150"
                  >
                    Login
                  </button>
                </div>
              </form>
  
              <div class="mt-4 text-center">
                <p class="text-sm text-gray-400">
                  Don’t have an account?
                  <a class="text-gray-300 hover:text-gray-100 hover:underline" [routerLink]="[LOCATIONS.register]">
                    Register
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  