<app-back-to-menu [navigationPath]="LOCATIONS.menu"></app-back-to-menu>
<div class="flex flex-col h-screen">
  <div
    class="tab-content flex-grow flex flex-col justify-start mt-5"
  >
    <ng-container *ngIf="activePlan; else noPlans">
      <app-plan-header
      [isDarkMode]="isDarkMode()"
        [activePlan]="activePlan"
        [threeDotsIcon]="ThreeDotsIcon"
        [workouts]="activePlan.workouts"
        (editModeToggle)="toggleEditMode()"
        (planDelete)="deletePlan(activePlan.id)"
        (planNameUpdated)="onPlanNameUpdated($event)"
        (toggleDeleteModal)="toggleDeleteModal($event)"
      ></app-plan-header>
      <app-workouts
        [workouts]="activePlan.workouts"
        (isEditingChange)="editMode = $event"
        [planId]="activePlan.id"
        (workoutsUpdated)="onWorkoutsUpdated($event)"
        [isEditing]="editMode"
      ></app-workouts>
      <app-delete-plan-modal
        *ngIf="isDeleteModalOpen"
        [planName]="activePlan.name"
        (planDeleted)="deletePlan(activePlan.id)"
        (closeModal)="closeDeleteModal()"
      ></app-delete-plan-modal>
    </ng-container>
    <ng-template #noPlans>
      <div class="flex flex-col justify-center items-center h-full">
        <p class="text-center text-gray-700 dark:text-gray-200">
          No plans available. Please add a plan to get started.
        </p>
      </div>
    </ng-template>
  </div>
  <button
    (click)="navigateToWorkouts()"
    class="w-4/5 h-40 bg-gray-300 text-gray-900 dark:bg-gray-700 dark:text-gray-100 font-semibold text-2xl rounded-lg shadow-md hover:bg-gray-200 dark:hover:bg-gray-600 hover:shadow-lg transform hover:scale-105 transition duration-200 ease-in-out mx-auto"
  >
    Workouts
  </button>
  <app-tabs
    [plans]="plans"
    [activePlanId]="activePlanId"
    [PlusSignIcon]="PlusSignIcon"
    (planSelected)="selectPlan($event)"
    (toggleEditMode)="toggleEditMode()"
    (addNewPlan)="addPlan()"
  ></app-tabs>
</div>
