<app-back-to-menu [navigationPath]="LOCATIONS.menu"></app-back-to-menu>
<div class="flex flex-col h-screen bg-gray-200 dark:bg-gray-800">
  <div class="tab-content flex-grow flex flex-col justify-start mt-5">
    <ng-container *ngIf="activePlan; else noPlans">
      <app-plan-header
        [isDarkMode]="isDarkMode()"
        [activePlan]="activePlan"
        [threeDotsIcon]="ThreeDotsIcon"
        [workouts]="activePlan.workouts"
        (editModeToggle)="toggleEditMode()"
        (planDelete)="deletePlan(activePlan.id)"
        (planNameUpdated)="onPlanNameUpdated($event)"
        (toggleDeleteModal)="toggleDeleteModal($event)"
      ></app-plan-header>
      <app-workouts
        [isDarkMode]="isDarkMode()"
        [workouts]="activePlan.workouts"
        (isEditingChange)="editMode = $event"
        [planId]="activePlan.id"
        (workoutsUpdated)="onWorkoutsUpdated($event)"
        [isEditing]="editMode"
      ></app-workouts>
      <app-delete-plan-modal
        *ngIf="isDeleteModalOpen"
        [planName]="activePlan.name"
        (planDeleted)="deletePlan(activePlan.id)"
        (closeModal)="closeDeleteModal()"
      ></app-delete-plan-modal>
    </ng-container>
    <ng-template #noPlans>
      <div class="flex flex-col justify-center items-center h-full">
        <p class="mx-5 text-center text-gray-700 dark:text-gray-200">
          {{ "PLAN_PAGE.NO_PLANS" | translate }}
        </p>
        <button
          class="bg-blue-600 text-white p-2 rounded-full hover:bg-blue-700 transition duration-200 mt-4"
          (click)="addPlan()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="white"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
            />
          </svg>
        </button>
      </div>
    </ng-template>
  </div>

  <app-tabs
    *ngIf="plans.length > 0"
    [isDarkMode]="isDarkMode()"
    [plans]="plans"
    [activePlanId]="activePlanId"
    [PlusSignIcon]="PlusSignIcon"
    (planSelected)="selectPlan($event)"
    (tabClicked)="onTabClicked()"
    (toggleEditMode)="toggleEditMode()"
    (addNewPlan)="addPlan()"
  ></app-tabs>
</div>
