<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
  [ngClass]="{ hidden: !showModal }"
  (click)="onBackdropClick($event)"
>
  <div
    class="relative bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-md w-full mx-4"
    (click)="$event.stopPropagation()"
  >
    <!-- Modal Header -->
    <div
      class="flex justify-between items-center px-4 py-3 border-b border-gray-200 dark:border-gray-700"
    >
      <h5 class="text-lg font-semibold text-gray-800 dark:text-gray-100">
        {{ "WORKOUT_LOG_DETAILS.TITLE" | translate }}
      </h5>
      <button
        type="button"
        class="text-gray-400 hover:text-gray-500 dark:hover:text-gray-300 transition"
        (click)="onClose()"
      >
        ✖
      </button>
    </div>
    <div class="flex justify-center items-center py-2">
      <button
        class="transition-transform duration-300 cursor-pointer p-2"
        [ngClass]="{ 'rotate-180': isExpanded }"
        (click)="toggleExpanded()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          width="32"
          height="32"
          stroke-width="2"
          class="text-gray-600 dark:text-gray-300"
        >
          <path d="M8 12l4 4l4 -4"></path>
        </svg>
      </button>
    </div>

    <!-- Modal Body -->
    <div
      class="p-4 space-y-4 overflow-y-auto max-h-[70vh]"
    >
      <div *ngIf="workoutLog">
        <div *ngIf="isExpanded">
          <div class="flex justify-between items-center">
            <p class="text-gray-700 dark:text-gray-300 font-semibold">
              <strong
                >{{ "WORKOUT_LOG_DETAILS.WORKOUT_NAME" | translate }}:</strong
              >
              {{ workoutLog.workoutName }}
            </p>
            <p class="text-gray-700 dark:text-gray-300">
              <strong>{{ "WORKOUT_LOG_DETAILS.DATE" | translate }}:</strong>
              {{ workoutLog.date | date : "shortDate" }}
            </p>
          </div>
          <div *ngIf="gyms.length > 0" class="mt-4">
            <label class="block text-gray-700 dark:text-gray-300 font-medium">
              {{ "WORKOUT_LOG_DETAILS.SELECT_GYM" | translate }}
            </label>
            <button
              type="button"
              class="w-full px-4 py-2 mt-2 bg-gray-200 dark:bg-gray-600 rounded-lg border-none focus:outline-none"
              (click)="openGymSelectionModal()"
            >
              {{ getSelectedGymName() }}
            </button>
          </div>
        </div>

        <div *ngIf="workoutLog.exercises && workoutLog.exercises.length > 0">
          <h6
            class="text-gray-800 text-center dark:text-gray-200 font-medium text-xl"
          >
            {{ "WORKOUT_LOG_DETAILS.EXERCISES" | translate }}
          </h6>
          <ul class="space-y-2 h-[calc(80vh-280px)] overflow-y-auto">
            <li
              *ngFor="let exercise of workoutLog.exercises"
              class="bg-gray-50 dark:bg-gray-700 p-3 rounded-lg shadow flex justify-between items-center"
            >
              <div>
                <p class="font-semibold text-gray-800 dark:text-gray-100">
                  {{ exercise.exerciseName }}
                </p>
                <ul class="mt-2 space-y-1">
                  <li
                    *ngFor="let set of exercise.sets"
                    class="text-gray-700 dark:text-gray-300"
                  >
                    {{
                      "WORKOUT_LOG_DETAILS.SET_REPS_WEIGHT"
                        | translate
                          : { set: set.set, reps: set.reps, weight: set.weight }
                    }}
                  </li>
                </ul>
              </div>
              <button
                type="button"
                class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
                (click)="toggleNotesModal(exercise.notes)"
              >
                {{ "WORKOUT_LOG_DETAILS.NOTES" | translate }}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Modal Footer -->
    <div
      class="flex justify-end px-4 py-3 border-t border-gray-200 dark:border-gray-700"
    >
      <button
        type="button"
        class="bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-500 transition"
        (click)="onClose()"
      >
        {{ "WORKOUT_LOG_DETAILS.CLOSE" | translate }}
      </button>
    </div>
  </div>
</div>

<!-- Notes Modal -->
<div
  *ngIf="isNotesModalOpen"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
>
  <div
    class="mx-4 h-[60vh] bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 max-w-lg w-full"
  >
    <div class="flex justify-between items-center mb-4">
      <h5 class="text-lg font-bold">
        {{ "WORKOUT_LOG_DETAILS.NOTES" | translate }}
      </h5>
      <button
        class="text-gray-400 hover:text-gray-300 transition"
        (click)="toggleNotesModal()"
      >
        ✖
      </button>
    </div>
    <div class="p-4 bg-gray-100 dark:bg-gray-700 rounded-lg shadow">
      <!-- Display Notes -->

      <textarea
        rows="6"
        maxlength="300"
        disabled
        [placeholder]="'WORKOUT_LOG_DETAILS.PLACEHOLDER' | translate"
        formControlName="notes"
        class="w-full rows-30 px-3 py-2 bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-100 resize-none"
        [value]="
          selectedExerciseNotes || ('WORKOUT_LOG_DETAILS.NO_NOTES' | translate)
        "
      ></textarea>
    </div>
    <div class="flex justify-end gap-4 mt-4">
      <button
        type="button"
        class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-500 transition"
        (click)="toggleNotesModal()"
      >
        {{ "WORKOUT_LOG_DETAILS.CLOSE" | translate }}
      </button>
    </div>
  </div>
</div>

<app-gym-selection-modal
  *ngIf="isGymSelectionModalOpen"
  [gyms]="gyms"
  [selectedGymId]="selectedGymId"
  [selectedGymName]="selectedGymName"
  (onSelectGym)="handleGymSelection($event)"
  (onCancel)="cancelGymSelection()"
></app-gym-selection-modal>
