<!-- Workout Details Modal -->
<div
  *ngIf="selectedWorkout"
  class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm z-50 flex items-center justify-center"
  (click)="closeWorkoutDetails()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button
      class="absolute top-2 right-2 cursor-pointer text-gray-400 hover:text-gray-600 dark:hover:text-gray-300"
      (click)="closeWorkoutDetails()"
    >
      &times;
    </button>
    <div class="workout-details-content text-center">
      <h4
        class="mb-3 text-lg w-full p-4"
        contenteditable="true"
        (blur)="updateWorkoutName()"
        (keydown)="onKeyDown($event, 'workout')"
      >
        {{ selectedWorkout.name }}
      </h4>

      <!-- Drag and drop list for exercises -->
      <div class="exercises">
        <ul
          #exerciseList
          class="list-none mt-6 mb-16 max-h-[210px] overflow-y-auto"
          cdkDropList
          (cdkDropListDropped)="dropExercise($event)"
        >
          <li
            *ngFor="
              let exercise of selectedWorkout.workoutExercises;
              let i = index
            "
            class="flex justify-between items-center mb-2 position-relative bg-dark pt-1 px-2 rounded"
            cdkDrag
          >
            <span class="exercise-name">{{ exercise?.exerciseName }}</span>
            <button
              class="btn btn-sm delete-btn"
              (click)="deleteExercise(exercise.id!)"
            >
              <img [src]="DeleteIcon" alt="DeleteIcon" />
            </button>
          </li>
        </ul>
        <ng-template #noExercises>
          <p>No exercises available for this workout.</p>
        </ng-template>
        <div class="add-exercise-container"></div>
      </div>

      <!-- <div class="d-flex justify-content-between align-items-center">
        <button
          class="btn btn-primary btn-lg"
          type="button"
          (click)="openExercisePickerModal()"
        >
          <img class="pluss" [src]="PlusSignIcon" alt="PlusSignIcon" />
        </button>
        <button (click)="goToLogPage()"
          class="btn btn-success btn-lg"
          type="button"
        >
          <img class="pluss" [src]="PlayButton" alt="PlayButton" />
        </button>
      </div> -->
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-primary btn-lg" type="button">
          <img class="pluss" [src]="PlusSignIcon" alt="PlusSignIcon" />
        </button>
        <button
          (click)="goToLogPage()"
          class="btn btn-success btn-lg"
          type="button"
        >
          <img class="pluss" [src]="PlayButton" alt="PlayButton" />
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Workouts List -->
<div [ngClass]="{ 'content-to-blur': selectedWorkout }">
  <div class="container">
    <div class="row mt-3">
      <ng-container *ngIf="workouts && workouts.length > 0; else noWorkouts">
        <div
          cdkDropList
          cdkDropListOrientation="vertical"
          class="flex flex-wrap justify-start w-full max-w-full gap-4 p-4 min-h-[60px] rounded-md overflow-hidden box-border mb-8"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            *ngFor="let workout of workouts; let i = index"
            class="flex justify-center items-center bg-gray-800 text-white p-4 rounded-md mt-3"
            (click)="showWorkoutDetails(workout)"
            [cdkDragData]="workout"
            cdkDrag
            [cdkDragDisabled]="!isEditing"
            [ngClass]="isEditing ? 'bg-gray-400' : 'bg-gray-800'"
          >
            <div
              class="p-5 border border-gray-300 rounded-md relative flex flex-col cursor-pointer items-center justify-center text-center h-40 w-40"
              (click)="showWorkoutDetails(workout)"
            >
              <button
                *ngIf="isEditing"
                class="absolute text-4xl top-0 right-2 text-red-500 hover:text-red-700"
                (click)="
                  markWorkoutForDeletion(workout); $event.stopPropagation()
                "
              >
                &times;
              </button>
              <h5 class="text-sm">{{ workout.name }}</h5>
            </div>
          </div>
        </div>
      </ng-container>

      <button *ngIf="isEditing" id="bottone5" (click)="saveReorderedWorkouts()">
        Save changes
      </button>

      <div
        class="flex justify-center items-center bg-blue-600 hover:bg-blue-700 w-12 h-12 rounded-xl cursor-pointer fixed bottom-16 right-8 z-50 shadow-lg transform hover:scale-105 transition-transform duration-300 ease-in-out border border-gray-300"
        (click)="openCreateWorkoutModal()"
      >
        <img [src]="PlusSignIcon" alt="PlusSignIcon" class="w-6 h-6" />
      </div>

      <ng-template #noWorkouts>
        <div>
          <p class="text-center px-3">No workouts available for this plan.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- Workout Creation Modal -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
  (click)="closeModal()"
>
  <div
    class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 mx-4 relative"
    (click)="$event.stopPropagation()"
  >
    <h3 class="text-xl font-semibold text-gray-900 dark:text-gray-100 mb-4">
      Create Workout
    </h3>
    <form [formGroup]="workoutForm" (ngSubmit)="createWorkout()">
      <!-- Workout Name Input -->
      <div class="mb-4">
        <label
          for="workout-name"
          class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"
        >
          Workout Name:
        </label>
        <input
          type="text"
          id="workout-name"
          formControlName="workoutName"
          class="w-full px-4 py-2 text-sm text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          maxlength="20"
          required
        />
        <div
          *ngIf="
            workoutForm.get('workoutName')?.invalid &&
            workoutForm.get('workoutName')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          <div *ngIf="workoutForm.get('workoutName')?.errors?.['required']">
            Workout name is required.
          </div>
          <div *ngIf="workoutForm.get('workoutName')?.errors?.['maxlength']">
            Workout name cannot exceed 20 characters.
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div class="flex justify-end space-x-4">
        <button
          type="button"
          class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-300 rounded-lg hover:bg-gray-400 focus:outline-none focus:ring focus:ring-gray-200 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600"
          (click)="closeModal()"
        >
          Close
        </button>
        <button
          type="submit"
          class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300"
          [disabled]="workoutForm.invalid"
        >
          Create Workout
        </button>
      </div>
    </form>
  </div>
</div>
